// COLOURS (COLOR MODE)

$white: #fffefe;

:root {
    --primary: #fffefe;
    --secondary: #111314;
}

.dark-mode {
    --primary: #111314;
    --secondary: #fffefe;
}

// BREAKPOINTS

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// PADDING

$pad-base-xl: 36%;
$pad-left-xl: calc(2rem + $pad-base-xl);

$pad-base-lg: 32%;
$pad-left-lg: calc(2rem + $pad-base-lg);
