// COLOURS

// $black: #111314;
// $white: #fffefe;

// (DARK MODE BECAUSE MY EYES HURT)

$black: #fffefe;
$white: #111314;

// BREAKPOINTS

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

// PADDING

$pad-base-xl: 36%;
$pad-left-xl: calc(2rem + $pad-base-xl);

$pad-base-lg: 32%;
$pad-left-lg: calc(2rem + $pad-base-lg);
