// COLOURS

// $black: #111314;
// $white: #fffefe;

// (DARK MODE BECAUSE MY EYES HURT)

$black: #fffefe;
$white: #111314;

// BREAKPOINTS

// ...

// PADDING

$pad-base: 36%;
$pad-left: calc(2rem + $pad-base);
